* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial georgia 'Permanent Marker', cursive;
  font-size: 15px;
  color: #222222;
  line-height: 1.3;
}
nav{
	background-color: black;
	padding: 20px;
	text-align: left;

}
nav a{
	color: white;
	text-decoration: none;
	width: 960px
	padding:  20px 40px;
	text-align: center;
	margin: 10px;
	font-style: arial; 
}

nav a:hover{
	background-color:#1FA2E1;
}
#header{
	height: 700px;
	background: url("../images/photobanner.png")no-repeat center top;
	background-size: cover;
}
#logo{
	padding: 30px 100px;

}
#socialapp{
	text-align: right;
	padding: 30px 100px;
}

#quotebox{
	text-align: center;
	display: block;	
}
.homeboxes{
width: 290px;
overflow: auto;
display: inline;
float: left;
text-align: left; 
padding: 20px 30px;

}

.homeboxes img{
	border-color: #eeeeee;
	border-style: solid;

}
#quotebox p{
	font-style: italic;
	border-style: solid;
	border-color: #eeeeee;
	margin: 20px auto;
	width: 960px;
	font-family: arial, georgia;
	padding: 20px 20px;
	text-align: left;
}

h1{
	padding: 60px;
}
h1 span{
	display: none;
	padding:50px;
}
h2{
	width: 290px;
	font-family:arial; 
}



#footer{
	color:#aaaaaa;
	font-family: 'Permanent Marker';
}
